<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <h1>Matt's Portfolio</h1>
    <h2>Projects</h2>
    <h4><span class="label label-primary"> Welcome to my portfolio! This showcases a selection of the projects I've worked on over the years. </span></h4>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr class="w-50">
        <th>Title</th>
        <th class="w-25">Description</th>
        <th>Actions</th>
      </tr>
    </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="w-50">
        <td><%= project.title %></td>
        <td class="w-50"><%= project.description %></td>
        <td class = "text-left">
          <%= link_to 'Show', project, class: 'btn btn-info' %>
          <% if user_signed_in? %>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-secondary'  %>
          <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="container">
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path, class: 'btn btn-success'  %>
<% end %>
</div>
