<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">

  <h1>
    <%= @project.title %>
  </h1>

  <h2>
    Description:
  </h2>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
          <%= @project.description %>
          </p>
          <br>          
            <%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
            <% if user_signed_in? %>
            <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>
            <% end %>
        </div>
      </div>

    </div>
  </div>
</div>



